.footerIcons {
    width: 45px;
    height: 45px;
}

footer {
    background-color: rgba(0, 0, 0, 0.692);
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

body {
    min-height: 100%;
}

.aboutSection{
    border-top: 5px;
    border-color: black;
    justify-content: space-around;
    align-items: center;
}

.active {
    color: black
}

nav {
    height: 50px;
    background: rgba(0, 0, 0, 0.692);
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    justify-content: space-between;
}

.name {
    color: black;
    font-size: 2rem;
}

.tabs {
    color: black;
    font-size: 2rem;
    font-size: bold;
    text-align: right;
    /* How to add a little space on the right so it isn't on the edge of the page? */
}

a:hover {
    color: white;
    cursor: pointer;
}

button.fullstack {
    color: #ffffff;
    background: #000;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    padding: .5rem 1.5rem;
}

button:hover {
    background: #ffffff;
    color: #000;
}

.leftContent {
    display: flex;
    float: left;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    align-items: flex-start;
}

.rightContent {
    display: flex;
}

.headshot {
   height: 300px;
   width: 300px;
   float: right;
}