.footerIcons {
    width: 45px;
    height: 45px;
}

footer {
    background-color: rgba(0, 0, 0, 0.692);
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

body {
    min-height: 100%;
}

.aboutSection{
    /* How do you get a border to show??? */
    border-top: 5px;
    border-color: black;
}

.active {
    background-color: brown;
    color: black
}

nav {
    background-color: ;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}